body,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-size: 15px;
  font-family: "KOTRA_GOTHIC";
  white-space: nowrap;
}
.rode_bar {
  background-color: #313955;
  position: fixed;
  z-index: 1000;
  top: 0;
}
.rode_items ul > li > a {
  color: white;
}
.items > ul > li > div ul > li > a {
  display: block;
  text-align: center;
  color: rgb(66, 66, 66);
}
.nav-item:first-child > li > a {
  border-bottom: 3px solid white;
}
.rode_content {
  height: 1600px;
}
.rode_body {
  position: relative;
  height: 100%;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  // border: 1px solid blue;
}
.rode_con {
  position: relative;
  top: 100px;
  width: 1080px;
  height: 130px;
  font-family: "ChosunSg";
  font-size: 1.2rem;
  padding-bottom: 20px;
  border-bottom: 1px solid #e4e3e3;
}
.tit_cont {
  position: relative;
  top: 30px;
  display: inline-block;
}
.footer {
  bottom: 0;
  min-width: 100%;
  height: 200px;
}
