.page_div {
  position: absolute;
}
.pagination {
  position: relative;
  top: 760px;
}
.page_item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  left: 430px;
  cursor: pointer;
}
.page_item:hover {
  text-decoration: underline;
}
