.PostListItem {
  padding-bottom: 15px;
  font-family: "KOTRA_GOTHIC";
  // font-family: "고딕";
  width: 1075px;
  overflow: hidden;
  padding-top: 20px;
  border-top: 0.3px solid rgb(191, 191, 191);
  font-size: 15px;
  height: 10px;
}
.PostListItem:first-child {
  border-top: 0px;
}
.PostListItem:last-child {
  border: 0.3px solid rgb(191, 191, 191);
  border-left: 0px;
  border-right: 0px;
}
.Header_1 {
  position: relative;
  top: -7px;
}
.boardId {
  width: 120px;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  border-right: 0.3px solid rgb(191, 191, 191);
}
.boardtext_1 {
  position: relative;
  display: inline-block;
  width: 750px;
}
.boardtext {
  display: inline-block;
  position: relative;
  cursor: pointer;
  left: 15px;
}
.boardtext:hover {
  text-decoration: underline;
  display: inline-block;
}
.register_date {
  position: relative;
  display: inline-block;
  width: 150px;
  left: 45px;
  text-align: center;
  border-left: 0.3px solid rgb(191, 191, 191);
}
