.post_list_back {
  position: absolute;
  height: 697px;
  top: 38px;
  left: 2px;
  background-color: white;
  // border: 0.3px solid rgb(191, 191, 191);
  border: 0.1px solid rgb(196, 196, 196);
}
.post_list {
  width: 100%;
  list-style: none;
  height: 697px;
}
