.post_list_back {
  position: absolute;
  min-height: 913px;
  max-height: 913px;
  top: 38px;
  left: 2px;
  background-color: whitesmoke;
  border: 0.3px solid rgb(191, 191, 191);
}
.post_list {
  width: 102%;
  list-style: none;
  overflow-y: auto;
}
