.write_sub_2 {
  position: relative;
  border: 0.5px solid rgb(119, 119, 119);
  padding: 10px 40px;
  border-radius: 10px;
  top: 28px;
  left: 880px;
  cursor: pointer;
  font-family: "KOTRA_GOTHIC";
}
