.post_list_back {
  position: absolute;
  height: 689px;
  top: 38px;
  left: 2px;
  background-color: whitesmoke;
  border: 0.3px solid rgb(191, 191, 191);
}
.post_list {
  width: 100%;
  list-style: none;
  height: 689px;
}
