.list_item_back {
  position: relative;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 1075px;
  height: 10.5px;
}
.PostListItem {
  position: absolute;
  top: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 1075px;
  height: 10.5px;
  font-family: "고딕";
  font-size: 15px;
  border-bottom: 0.1px solid rgb(191, 191, 191);
}
.Header_1 {
  position: relative;
  top: -6px;
}
.boardId {
  width: 120px;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  border-right: 0.3px solid rgb(191, 191, 191);
}
.boardtext_1 {
  position: relative;
  display: inline-block;
  width: 750px;
}
.boardtext {
  display: inline-block;
  position: relative;
  cursor: pointer;
  left: 15px;
}
.boardtext:hover {
  text-decoration: underline;
  display: inline-block;
}
.register_date {
  position: relative;
  display: inline-block;
  width: 150px;
  left: 45px;
  text-align: center;
  border-left: 0.3px solid rgb(191, 191, 191);
}
