@font-face {
  font-family: "HallymGothic-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

.post_detail_back_2 {
  position: relative;
  height: 850px;
  width: 1060px;
  top: 50px;
  left: 8px;
  background-color: whitesmoke;
  border: 0.1px solid rgb(191, 191, 191);
  border-left: 0px;
  border-right: 0px;
}
.post_list_2 {
  width: 100%;
}
.postHeader {
  border-bottom: 0.3px solid rgb(191, 191, 191);
  text-align: center;
  font-family: "HallymGothic-Regular";
  font-size: 1rem;
}
.postId {
  width: 95px;
  display: inline-block;
  padding: 15px 0;
  border-right: 0.3px solid rgb(191, 191, 191);
}
.postTitle {
  width: 780px;
  display: inline-block;
  padding: 15px 0;
  border-right: 0.3px solid rgb(191, 191, 191);
}
.postDate {
  width: 171px;
  display: inline-block;
  padding: 15px 0;
}
.postContent {
  font-family: "HallymGothic-Regular";
  font-size: 14px;
  position: relative;
  height: 750px;
  width: 980px;
  top: 40px;
  left: 30px;
  white-space: pre-wrap; // 줄바꿈 인식가능
  overflow-y: auto;
}
.content_edit {
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: row-reverse;
  right: 25px;
}
.content_edit > button {
  font-family: "HallymGothic-Regular";
  padding: 3px 15px;
}
.content_update {
  position: relative;
  right: 10px;
}
