.post_detail_back {
  position: relative;
  min-height: 850px;
  max-height: 850px;
  width: 1075px;
  top: 50px;
  left: 2px;
  background-color: whitesmoke;
  border: 0.3px solid rgb(191, 191, 191);
}
