@font-face {
  font-family: "MICEGothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
.notice_top {
  position: relative;
  height: 50px;
  width: 1080px;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-top: 0.1px solid rgb(196, 196, 196);
}
.button_1 {
  position: relative;
  top: -20px;
  left: 950px;
  padding: 10px 40px;
  border-radius: 20px;
  background-color: rgb(238, 238, 238);
  border: 1.5px solid rgb(191, 191, 191);
  cursor: pointer;
  color: rgb(77, 77, 77);
  font-size: 14px;
  font-weight: bold;
  font-family: "HallymGothic-Regular";
}
.header {
  background-color: rgb(238, 238, 238);
  font-family: "KOTRA_GOTHIC";
  font-size: 17px;
  color: rgb(59, 59, 59);
}
.header th:first-child {
  width: 110px;
}
.header th:nth-child(2) {
  width: 755px;
}
.header th:nth-child(3) {
  width: 145px;
}
.post_box {
  background-color: whitesmoke;
  position: relative;
  top: 20px;
}
