@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KOTRA_GOTHIC";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.content9 {
  position: relative;
  width: 100%;
  height: 1175px;
  background-color: #f9f9f9;
}
.content9-0 {
  text-align: center;
  position: relative;
  width: 1200px;
  height: 930px;
  display: block;
  margin: 0 auto;
}
.text9 {
  font-family: "GmarketSansMedium";
  font-size: 1.6rem;
  position: relative;
  top: 125px;
}

.text_bar {
  display: block;
  width: 100px;
  height: 2px;
  position: relative;
  background-color: black;
  border: 50px auto 140px;
  left: 47%;
  top: 20px;
}
.text_bar_line {
  position: absolute;
  top: 550px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eee;
}
.home_it > img {
  position: relative;
  width: 1020px;
  top: 280px;
}
.last_text > li {
  //   border: 1px solid red;
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  top: 330px;
  width: 21%;
  font-family: "KOTRA_GOTHIC";
}
.last_1 > p {
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
  color: #666;
}
