body {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.content3 {
  background-color: white;
  width: 100%;
  height: 750px;
  position: relative;
}
.content3-0 {
  width: 1200px;
  height: 750px;
  display: block;
  position: relative;
  margin: 0 auto;
  align-items: center;
}
.con3_text {
  font-size: 1.6rem;
  position: relative;
  top: 160px;
  left: 150px;
}
.con3_bodytext {
  font-size: 16px;
  font-family: "KOTRA_GOTHIC";
  letter-spacing: 1px;
  line-height: 1.8;
}

.savingButton:hover {
  text-decoration: underline;
}
.savingButton {
  background-color: #f1f1f1;
  display: inline-block;
  font-family: "KOTRA_GOTHIC";
  font-size: 16px;
  padding: 15px 40px;
  border-radius: 15px;
  margin-right: 20px;
  margin-top: 20px;
}
.savingButton > a > img {
  height: 10px;
  margin-left: 10px;
}

.con5-saving > img {
  position: absolute;
  width: 492px;
  height: 408px;
  right: 70px;
  top: 100px;
}
