@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KOTRA_GOTHIC";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
::selection {
  background-color: #ffe400;
}
.content {
  width: 100%;
  height: 884px;
  background-color: #fff;
}
.content-0 {
  width: 100%;
  height: 720px;
  background-color: #ffef6b;
}
.content-1 {
  width: 1200px;
  height: 884px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgba(255, 0, 0, 0);
}
.content-1 > img {
  width: 100%;
  height: 884px;
  display: block;
  position: absolute;
  margin-left: 0;
}
.text {
  color: inherit;
  display: block;
  position: relative;
  font-family: "GmarketSansMedium";
  font-size: 1.9rem;
  text-align: left;
  top: 15%;
  left: 120px;
  letter-spacing: -0.3px;
}
.body-text {
  font-family: "KOTRA_GOTHIC";
  font-size: 18px;
  letter-spacing: -0.5px;
  color: rgb(62, 62, 62);
  line-height: 2;
}
.button {
  display: inline-block;
}
.download-button {
  // border: 1px solid red;
  width: 180px;
  height: 58px;
  display: inline-block;
  background-color: white;
  margin: 10px;
  border-radius: 15px;
}
.download-button > li {
  margin-top: 10px;
  display: inline-block;
}
.download-button > li > a > img {
  width: 19px;
  height: 19px;
  margin-right: 5px;
}
.download-button > li > a {
  font-family: "GmarketSansMedium";
  font-size: 1rem;
  display: inline-flex;
  margin-left: 30px;
}
.download-button > li > a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
