@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KOTRA_GOTHIC";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.content8 {
  position: relative;
  width: 100%;
  height: 1062px;
  background-color: white;
}
.content8-0 {
  text-align: center;
  position: relative;
  width: 1200px;
  height: 930px;
  display: block;
  margin: 0 auto;
}
.con8_text {
  font-family: "GmarketSansMedium";
  font-size: 1.6rem;
  position: relative;
  top: 125px;
}
.con8_bodytext {
  font-size: 16px;
  letter-spacing: -0.5px;
  color: rgb(62, 62, 62);
  line-height: 1.5;
  font-family: "KOTRA_GOTHIC";
  letter-spacing: 1px;
}
.link_bank8 {
  position: absolute;
  font-family: "KOTRA_GOTHIC";
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px 30px;
  margin-top: 15px;
  left: 38%;
}
.link_bank8 > a {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.7px;
}
.link_bank8:hover > a {
  text-decoration: underline;
}
.link_bank8 > a > img {
  height: 10px;
  margin-left: 10px;
}
.con {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.item > div > img:first-child {
  width: 240px;
  height: 378px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.img-box > img {
  width: 100%;
  display: block;
}
.slider-box-1 {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.item {
  transition: transform 0.25s;
}
.item > .img-box {
  padding-top: 60px;
  padding-bottom: 60px;
}
.slick-center {
  transform: scale(1.25);
}
.slider-box-1 {
  margin-top: 250px;
}
