@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

body {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.content3 {
  background-color: white;
  width: 100%;
  height: 750px;
  position: relative;
}
.content3-0 {
  width: 1200px;
  height: 750px;
  display: block;
  position: relative;
  margin: 0 auto;
}
.con3_text {
  font-family: "GmarketSansMedium";
  font-size: 1.6rem;
  position: relative;
  top: 150px;
  left: 150px;
}
.con3_bodytext {
  font-size: 16px;
  font-family: "KOTRA_GOTHIC";
  letter-spacing: 1px;
  line-height: 1.8;
}

.savingButton:hover {
  text-decoration: underline;
}
.savingButton {
  background-color: #f1f1f1;
  display: inline-block;
  font-family: "KOTRA_GOTHIC";
  font-size: 16px;
  padding: 15px 40px;
  border-radius: 15px;
  margin-right: 20px;
  margin-top: 20px;
}
.savingButton > a {
  font-size: 17px;
}
.savingButton > a > img {
  height: 15px;
  margin-left: 10px;
}

.con3-money > img {
  position: relative;
  width: 460px;
  height: 105px;
  top: 50px;
}

.con3-saving > img {
  position: absolute;
  width: 409px;
  height: 722px;
  right: 0;
  top: -380px;
  animation-delay: 20ms;
}
