@font-face {
  font-family: "KOTRA_GOTHIC";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
.foot {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  bottom: 0;
}
.inner_foot {
  width: 1080px;
  position: relative;
  text-align: center;
  height: 100%;
  margin: 0 auto;
}
.footer_info {
  padding: 20px 0 16px;
}
.inner_foot a {
  font-family: "돋움";
  float: left;
  font-size: 11px;
  color: #666;
  padding-bottom: 4px;
  padding-top: 6px;
}
.footer_info .txt_bar {
  float: left;
  width: 1px;
  height: 10px;
  margin: 8px 15px 0;
  background-color: #d8d8d8;
}
.footer_info .link_bold {
  font-weight: bold;
  color: #000;
}
.text_tel {
  float: left;
  font-size: 12px;
  color: #888;
}
.text_tel_2 {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.cop {
  font-size: 11px;
  font-weight: bold;
}
.last_bar > a > span {
  font-family: "KOTRA_GOTHIC";
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: -10px;
  left: 3px;
}
.last_bar > a > img {
  width: 48px;
  height: 32px;
  position: relative;
  margin-right: 7px;
  margin-top: 10px;
}
.list_channel {
  position: absolute;
  right: 10px;
  display: inline-block;
  bottom: 30px;
}
.list_channel > li {
  position: relative;
  display: inline-block;
  margin: 0 8px;
}
.list_channel .ico_sns {
  width: 24px;
  height: 24px;
}
.ico_sns {
  display: block;
  overflow: hidden;
  background: url("https://kakaobank.com/static/images/web/ico_sns.png")
    no-repeat;
}
.link_facebook .ico_sns {
  background-position: 0 -90px;
}
.link_instagram .ico_sns {
  background-position: -193px -138px;
}
.link_youtube .ico_sns {
  background-position: -90px -90px;
}
.link_branch .ico_sns {
  background-position: -217px -138px;
}
