@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "GmarketSansMedium";
  font-size: 15px;
}
header {
  border-bottom: 1px solid #e4e3e3;
  // border: 1px solid purple;
}
.menu-bar {
  height: 80px;
  background-color: white;

  // border: 1px solid blue;
}
.menu-bar-1 {
  width: 1080px;
  margin: 0 auto;
  height: 100%;
  flex: 1 1 auto;
}
.menu-bar > div > a {
  display: relative;
  align-items: center;
  padding: 30px 30px;
  display: inline-flex;
  // border: 1px solid black;
}
.items {
  float: right;
}
.items > ul > li > a {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 30px;
  // border: 1px solid orange;
}
.nav-item {
  display: inline-block;
}
.submit {
  background-color: rgb(255, 227, 44);
  border-radius: 22px;
  // border: 1px solid blue;
  padding: 20px;
  display: inline-flex;
  position: relative;
  margin-left: 10px;
}

.items > ul > li > div {
  position: absolute;
  display: none;
  left: 0;
  width: 100%;
  // background-color: lightgray;
  padding-top: 40px;
  padding-bottom: 40px;
}
.items > ul > li:hover > div {
  display: block;
}
.menu-2 {
  margin: 0 auto;
  border: 1px solid blue;
  // background-color: yellowgreen;
  width: 1080px;
}
.menu-2 > div > ul > li {
  display: inline-block;
  display: table-cell;
  text-align: center;
  border: 1px solid red;
  vertical-align: top;
  top: 100%;
  margin: 0 100px;
  position: relative;
  background-color: white;
}
.menu-2 > div > ul li > a {
  // border: 1px solid red;
  margin: 20px 20px;
}

.items > ul > li > div ul > li > a {
  display: block;
  text-align: center;
}
