@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  height: 81px;
  border-bottom: 1px solid rgb(228, 227, 227);
}
a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}
.menu-bar {
  width: 1080px;
  height: 80px;
  margin: 0 auto;
  // border: 1px solid blue;
}
.menu-bar-1 {
  // border: 1px solid purple;
  width: 1080px;
  height: 80px;
  display: inline-block;
}
.menu-bar-1 > ul .items {
  position: relative;
  list-style: none;
  display: inline-block;
}
.logo-1 {
  top: 27px;
  left: 20px;
  display: inline-flex;
  // border: 1px solid red;
}
.kakaoimage {
  display: inline-block;
  padding: 25px;
}
.items {
  float: right;
  // border: 1px solid red;
}
.nav-item {
  // border: 1px solid orange;
  font-family: "GmarketSansMedium";
  font-size: 15px;
  margin: 0.5rem;
  margin-top: 18px;
  margin-left: 20px;
  padding: 10px;
  display: inline-block;
}

.submit {
  background-color: rgb(255, 227, 44);
  border-radius: 22px;
  padding: 15px;
  display: inline-block;
}

.nav-item > ul {
  display: none;
}
.items {
  // position: absolute;
}

.items > ul:hover ul {
  display: block;
}

.nav-item > li > ul > li {
  display: inline-flex;
  position: absolute;
}
